body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* legend panel */
#legend {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 10px;
  border-radius: 3px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

.break {
  position: relative;
  margin: 6px 0;
  padding: 0px;
}

/* for proportional symbol legend dot */
.dot {
  display: inline-block;
  margin-top: 5px;
  border-radius: 50%;
  opacity: 0.6;
  vertical-align: middle;
}

/* label next to dot */
.dot-label {
  margin-left: 8px;
  font-style: italic;
  vertical-align: middle;
}

/* for choropleth legend swatch */
.swatch {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid #333;
  vertical-align: middle;
}

a {
  color: black;
}

/* simple title */
#title {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22pt;
  color: white;
}

#subtitle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 65px;
  margin-left: 20px;
  font-size: 12pt;
  color: white;
  opacity: 0.9;
}
